/* font-family: 'Fraunces', serif; main title/main price*/
/* font-family: 'Montserrat', sans-serif; for the rest of text */

/* -----------------------------page general styles--------------------------- */

html {
  box-sizing: border-box;
  font-size: 100%;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  height: inherit;
  background-color: hsl(30, 38%, 92%);
}
h1,
h2,
h3 {
  font-weight: 700;
  margin: 0;
}
p {
  margin: 0;
  font-size: 0.875rem; /*14px*/
}

/* -----------------------------main content styles--------------------------- */

.product-card {
  display: flex;
  flex-direction: column;
  max-width: 288px;
  /* for illustration only */
  /* border: 1px solid black; */
  border-radius: 8px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
.product-card-img {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  /* for illustration only */
  /* border: 1px solid red; */
}
.product-card-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(228, 12%, 48%);
  padding: 18px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  /* for illustration only */
  /* border: 1px solid blue; */
}
.product-card-info-title {
  color: hsl(212, 21%, 14%);
  line-height: 1;
}
.product-card-info-description {
  line-height: 1.6;
}
.product-card-info-preview {
  text-transform: uppercase;
  letter-spacing: 3px;
}
.product-card-info-preview,
.product-card-info-description,
.add-to-cart-btn,
.price-before {
  font-size: 12px;
}
.product-card-info-price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.price-current {
  color: hsl(158, 36%, 37%);
}
.price-before {
  text-decoration: line-through;
}
.product-card-info-title,
.price-current {
  font-family: "Fraunces", serif;
  font-size: 27px;
}
.add-to-cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 0;
  border-radius: 8px;
  border: none;
  background-color: hsl(158, 36%, 37%);
  color: white;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.add-to-cart-btn img {
  width: 12px;
}
.add-to-cart-btn:hover,
.add-to-cart-btn:active {
  background-color: hsl(158, 34%, 15%);
}
/* -----------------------------footer styles--------------------------- */

.attribution {
  background-color: white;
  padding: 0.938rem;
}
.attribution a {
  text-decoration: none;
  color: hsl(220, 15%, 55%);
}
.attribution a:hover {
  color: navy;
}

/* 
## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

### Neutral

- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%) 
*/
